body {
}
/* Site.css */
.fullscreen-banner {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen-banner h1 {
        color: white;
        font-size: 3rem;
}
