.Carrosel{
    margin-bottom: 100px;
}
.book-title {
    color: white; 
    font-size: 20px;
    margin-bottom: 5px;
}
.book-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    padding: 0;
}

.book-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 300px;
    width: 230px;
}

.book-image {
    position: relative;
    overflow: hidden;
}

.Imagem {
    width: 100%;
    height: auto;
    display: block; 
}
.book-image:hover .overlay {
    opacity: 1;
}

.book-title, .price-tag, .btn {
    margin: 5px 0;
}


.overlay {
    position: absolute; /* Position the overlay on top of the image */
    top: 0; /* Align to the top of the container */
    left: 0; /* Align to the left of the container */
    right: 0; /* Extend to the right of the container */
    bottom: 0; /* Extend to the bottom of the container */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for contrast */
    color: white; /* Change text color for visibility */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Align items in a column */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    opacity: 0; /* Start with the overlay hidden */
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
    border-bottom-left-radius: 15px; /* Round bottom left corner */
    border-bottom-right-radius: 15px; /* Round bottom right corner */
}


.price-tag {
    color: white;
    font-size: 18px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Space between price tag and button */
}

.vie
